body{
    background-color: #7E3F8F;
    margin: 0;
}

#article, #galerie{
    background-color: #C8F4B9;
    border-radius: 10px;
    margin: 20px;
    padding: 30px;
}

#colonne{
    display: flex;
    align-items: flex-start;
}

/*----------HEADER-------------*/
#header{
    background-color: #C8F4B9;
    text-align: center;
    padding: 10px 0;
}

h1{
    color: #81559B;
}

/*----------FOOTER-------------*/
#footer{
    background-color: #C8F4B9;
    color: #81559B;
    display: flex;
    justify-content: space-evenly;
}

#footer a{
    padding: 2px;
    background-color: #8C86AA;
    border: 2px solid #8C86AA;
    color: white;
    text-decoration: none;
}

#footer a:hover{
    border: 2px solid #C8F4B9;
}

/*----------NAV-------------*/
#nav a{
    display: block;
    padding: 5px;
    margin: 5px;
    background-color: #8C86AA;
    color: #C8F4B9;
    text-align: center;
    text-decoration: none;
}

#nav a:hover{
    background-color:white;
    border-color: white solid 2px;
    color: black;
}

#nav{
    background-color: #C8F4B9;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}

/*----------GALERIE----------*/

#galerie{
    text-align: center;

}

#galerie img{
    margin: 5px;
}

#galerie div{
    margin-right: 0%;
}

/*----------ARTICLE----------*/
.article{
    display: flex;
}

.article img{
    padding-right: 10px;
    height: 100%;
}

/*----------RESPONSIVE-------*/
@media only screen and (max-width: 1024px){
    .article{
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 800px){
    #colonne{
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 3;
        justify-items: center ;
    }

    #nav{
        display: flex;
        justify-content: space-evenly;
        height: 40px;
    }
}


