body{
    margin-bottom: 3%;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 3;
    background-color: rgba(241, 241, 241, 0.808);
}

h1, h2,h3, h4{
    font-family:'Roboto';
    color:rgb(241, 75, 46);
    font-weight: bold;
}

h3{
    font-family: 'roboto';
    color:rgb(241, 75, 46);
}

span{    
    font-family: 'roboto';
    color:rgb(145, 145, 145);
    font-weight: lighter;
    font-style: italic;
    font-size: 14px;

}

#expériences:not(#locali),#formation:not(#locali){
    font-family:'Roboto';
    color:rgb(241, 75, 46);
    font-weight: bold;
}

#profil p, #savoir-être li, #outils li, #contact, #savoir-faire li{
    color:rgb(145, 145, 145);
}

li{
    padding: 5px;
    list-style-type: circle;
}

a{
    border: 1px solid tomato;
    color: tomato;
    border-radius: 30px;
    padding: 3%;
    text-decoration: none;
}

a:hover{
    border: 1px solid white;
    border-radius: 30px;
    border-color: lightgray;
}

/*---------------------------------------------------*/
/*-------------------HEADER--------------------------*/
/*---------------------------------------------------*/


#entête{
    grid-column: 1 /span 2;
    text-align: center;
    background-color: white;
    box-shadow: 6px 6px 15px lightgray ;
    border: rgb(238, 116, 94) 2px solid;
    border-radius: 30px;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 2%;
}

#profil{
    background-color: white;
    box-shadow: 6px 6px 15px lightgray ;
    border:rgb(238, 116, 94) 2px solid;
    text-align: center;
    margin-left: 2%;
    margin-bottom: 2%;
    padding: 2%;
    border-radius: 30px;
}

#contact{
    background-color: white;
    box-shadow: 6px 6px 15px lightgray ;
    border:rgb(238, 116, 94) 2px solid;
    text-align: center;
    margin-right: 2%;
    margin-bottom: 2%;
    padding: 2%;
    border-radius: 30px;
}

/*---------------------------------------------------*/
/*-------------------COLONNE-------------------------*/
/*---------------------------------------------------*/

#droite{
    border:rgb(238, 116, 94) 2px solid;
    border-radius: 30px;
    box-shadow: 6px 6px 15px lightgray ;
    margin-right: 2%;
    padding:2%;
    background-color: white;
}

#gauche{
    border:rgb(238, 116, 94) 2px solid;
    border-radius: 30px;
    box-shadow: 6px 6px 15px lightgray ;
    margin-left: 2%;
    background-color: white;
    padding:2%;
}