/*---------------------------------------------------*/
/*-------------------COLONNE-------------------------*/
/*---------------------------------------------------*/

header{
    text-align: center;
}

h1, h2{
    font-family:'Roboto';
    color:rgb(241, 75, 46);
    font-weight: bold;
}

h3{
    font-family: 'roboto';
    color:rgb(238, 116, 94);
    font-weight: lighter;
}

#locali{    
    font-family: 'roboto';
    color:rgb(238, 116, 94);
    font-weight: lighter;
    font-style: italic;
    font-size: 14px;

}

#expériences:not(#locali),#formation:not(#locali){
    font-family:'Roboto';
    color:rgb(241, 75, 46);
    font-weight: bold;
}

li{
    padding: 5px;
}

#colonne{
    display: block;
}

#droite{
    padding: 20px;
    grid-column: 2;
    grid-row: 2;
    border-top:rgb(238, 116, 94) 5px solid;
    border-left:rgb(238, 116, 94) 5px solid;
}

#gauche{
    padding: 20px;
    height: 850px;
    border-top:rgb(238, 116, 94) 5px solid;
    border-right:rgb(238, 116, 94) 5px solid;
    grid-column: 1;
    grid-row: 1;
}

